
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="container pushItDownStyle">
    <div class="row mt3 presentation centered">
        <img class="aligncenter" src="~/Content/img/FTSLogo1.png" />
        <h1 class="centered">ABOUT  FRENCHTOWN  STUDIOS</h1>
        <hr>
    </div>
    <div class="col-lg-4 col-md-4">
        <h3>About Our Company</h3>
    </div>

    <div class="col-lg-4 col-md-4">
        <p>Located in the historic Frenchtown business District and owned and operated by Stephanie Woodworth since the summer of 2021.  Frenchtown Studios offers a wide variety of specialized photography from Product placements to Micro Weddings and Elopements. </p>
    </div>

    <div class="col-lg-4 col-md-4">
        <p>Please create an account and register and reserve your shoot today!  We have some special events for family photos in the upcoming weeks.  We will have photographers at our Studio, Chateau Woodworth, Eco Park, and 370 Lakeside Park!</p>
    </div>
    <!-- /row -->

</div>

<section id="slides">
    <ul class="slides-container">
        <li>
            <img src="img/slide-4.jpg" alt="">
        </li>
        <li>
            <img src="img/slide-5.jpg" alt="">
        </li>
        <li>
            <img src="img/slide-6.jpg" alt="">
        </li>
    </ul>
    <div id="bannertext">
        <h3>Some Shots From Our Studio</h3>
        <h1>OUR HEART</h1>
    </div>
</section>