
@{
    ViewBag.Title = "Documentation";
}

<h2>Documentation</h2>

<div class="container text-center pushItDownStyle" style="padding-top: 2em;">
    <h4 style="font-size: x-large">
        <a href="~/Content/img/TestDoc.pdf">Product Documentation</a>
    </h4>
</div>
