
@{
    ViewBag.Title = "Documentation";
}

<h2>Documentation</h2>

<div class="container text-center pushItDownStyle" style="padding-top: 2em;">
    <h4 style="font-size: x-large">
        <iframe src="/Content/img/FSDProjectDocumentation.pdf" width="100%" height="1000px"></iframe>
        @*<a href="~/Content/img/FSDProjectDocumentation.pdf">Product Documentation</a>*@
    </h4>
</div>
