<section id="photostack-1" class="photostack photostack-start">
    <div>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/1.jpg" alt="img01" /></a>
            <figcaption>
                <h2 class="photostack-title">Hammond Family</h2>
            </figcaption>
        </figure>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/2.jpg" alt="img02" /></a>
            <figcaption>
                <h2 class="photostack-title">Porter Family</h2>
            </figcaption>
        </figure>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/3.jpg" alt="img03" /></a>
            <figcaption>
                <h2 class="photostack-title">Lee Family</h2>
            </figcaption>
        </figure>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/4.jpg" alt="img04" /></a>
            <figcaption>
                <h2 class="photostack-title">Parson Family</h2>
            </figcaption>
        </figure>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/5.jpg" alt="img05" /></a>
            <figcaption>
                <h2 class="photostack-title">McCarthy Family</h2>
            </figcaption>
        </figure>
        <figure>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/6.jpg" alt="img06" /></a>
            <figcaption>
                <h2 class="photostack-title">Sherman Family</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/7.jpg" alt="img07" /></a>
            <figcaption>
                <h2 class="photostack-title">Lovely</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/8.jpg" alt="img08" /></a>
            <figcaption>
                <h2 class="photostack-title">Wonderful</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/9.jpg" alt="img09" /></a>
            <figcaption>
                <h2 class="photostack-title">Love</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/10.jpg" alt="img10" /></a>
            <figcaption>
                <h2 class="photostack-title">Friendship</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/11.jpg" alt="img11" /></a>
            <figcaption>
                <h2 class="photostack-title">Pure</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/12.jpg" alt="img12" /></a>
            <figcaption>
                <h2 class="photostack-title">Serendipity</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/13.jpg" alt="img13" /></a>
            <figcaption>
                <h2 class="photostack-title">Soul</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/14.jpg" alt="img14" /></a>
            <figcaption>
                <h2 class="photostack-title">Peace</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/15.jpg" alt="img15" /></a>
            <figcaption>
                <h2 class="photostack-title">Bliss</h2>
            </figcaption>
        </figure>
        <figure data-dummy>
            <a href="#" class="photostack-img"><img src="~/Content/img/IndexHeader/16.jpg" alt="img16" /></a>
            <figcaption>
                <h2 class="photostack-title">Light</h2>
            </figcaption>
        </figure>
    </div>
</section>

@*<br />*@

<div class="container pushItDownStyle">
    <div class="row mt presentation">
        <img class="aligncenter" src="~/Content/img/FTSLogo1.png" />
        <h1 class="centered">Frenchtown Studios</h1>
        <hr>

        <div class="col-lg-4 col-md-4">
            <h3>About Our Company</h3>
        </div>

        <div class="col-lg-4 col-md-4">
            <p>Located in the historic Frenchtown business District and owned and operated by Stephanie Woodworth since the summer of 2021.  Frenchtown Studios offers a wide variety of specialized photography from Product placements to Micro Weddings and Elopements. </p>
        </div>

        <div class="col-lg-4 col-md-4">
            <p>This is a mock site of the official page that I will be building out after my graduation from Centriq. This page uses reservation functionality that I will need to incorporate into her full site.  It truly was a no brainer to pick this for my final project and I couldn't be happier with the outcome.</p>
        </div>
    </div>

    <!-- /row -->

    <div class="row mt2">
        <div class="col-md-12 centered">
            <div class="col-md-4 services-bordered">
                <i class="icon ion-ios7-people large-icon"></i>
                <h4>FAMILY</h4>
                <p>Family photos are special and we want you to have something that will capture your loved ones together that will proudly hang on your wall for years to come.</p>
            </div>
            <div class="col-md-4 services-bordered">
                <i class="icon ion-ios7-camera large-icon"></i>
                <h4>ELOPEMENT</h4>
                <p>The most intimate moments are captured in a private ceremony with your witnesses. I will capture in the most classic and timeless way you two will cherish forever.</p>
            </div>
            <div class="col-md-4 services-bordered">
                <i class="icon ion-ios7-bell large-icon"></i>
                <h4>WEDDING</h4>
                <p>Filling an entire day with nothing but love of you and your partner. I make sure to capture all that you and your partner put into the day you want to remember for the rest of your lives.</p>
            </div>
            <div class="col-md-4 services-bordered">
                <i class="icon ion-ios7-film large-icon"></i>
                <h4>MATERNITY</h4>
                <p>It is something that some women will only experience once in a lifetime.  The glow and joy of these photos will be a labor of love for years to come.</p>
            </div>
            <div class="col-md-4 services-bordered">
                <i class="icon ion-briefcase large-icon"></i>
                <h4>HEAD SHOTS</h4>
                <p>It is a known fact that 1st impressions are important.  Let us capture you are and what you want your audience to see to help you land that new job or account.</p>
            </div>
            <div class="col-md-4 services-bordered">
                <i class="icon ion-ios7-wineglass large-icon"></i>
                <h4>ENGAGEMENT</h4>
                <p>Whether the question has been popped or you want to make it a surprise, Frenchtown Studios has you covered.  We offer a variety of packages and services to catpure that special moment.</p>
            </div>
        </div>
    </div>
</div>

@*<br />*@

<section id="slides">
    <ul class="slides-container">
        <li>
            <img src="~/Content/img/Felix.jpg" alt="">
        </li>
        <li>
            <img src="~/Content/img/Flowers.JPG" />
        </li>
        <li>
            <img src="~/Content/img/Senior.jpg" />
        </li>
    </ul>
    <div id="bannertext">
        <h3>Capture All Of Life's Special Moments</h3>
        <h1>PURE JOY</h1>
    </div>
    <!-- end:Banner text -->
    <nav class="slides-navigation">
        <a href="index2.html#" class="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="index2.html#" class="prev">
            <i class="fa fa-angle-left"></i>
        </a>
    </nav>
</section>

@*<div class="row mt">
            <div id="filters-container" class="cbp-l-filters-alignRight container col-sm-12">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".identity" class="cbp-filter-item">
                    Identity
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Web Design
                    <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Graphic
                    <div class="cbp-filter-counter"></div>
                </div>
            </div>
            <!-- end:Filter -->
        </div>
    </div>
    <div id="grid-container" class="cbp-l-grid-fullScreen">
        <ul>
            <li class="cbp-item identity">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/1.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item web-design">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/2.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item graphic identity">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/3.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item graphic">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/4.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item identity">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/5.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/5.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item graphic">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/6.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/6.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item web-design">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/7.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/7.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end:Item -->
            <li class="cbp-item identity">
                <a class="cbp-caption cbp-lightbox" data-title="Image" href="~/Content/img/works/8.jpg">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/Content/img/works/8.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Image LightBox</div>
                                <div class="cbp-l-caption-desc">by John Doe</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="row hidden-sm clients mt2">
            <li class="banner-wrap col-sm-3 brd-btm">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="First Logo">
                        <img alt="" src="~/Content/img/logos/logo-1.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3 brd-btm">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Second Logo">
                        <img alt="" src="~/Content/img/logos/logo-2.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3 brd-btm">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Third Logo">
                        <img alt="" src="~/Content/img/logos/logo-3.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3 brd-btm">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Fourth Logo">
                        <img alt="" src="~/Content/img/logos/logo-4.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Fifth Logo">
                        <img alt="" src="~/Content/img/logos/logo-5.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Sixth Logo">
                        <img alt="" src="~/Content/img/logos/logo-6.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Seventh Logo">
                        <img alt="" src="~/Content/img/logos/logo-7.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
            <li class="banner-wrap col-sm-3">
                <figure class="featured-thumbnail">
                    <a href="index.html#" data-toggle="tooltip" title="Eighth Logo">
                        <img alt="" src="~/Content/img/logos/logo-8.png" title="" class="img-responsive">
                    </a>
                </figure>
            </li>
            <!-- .banner-wrap (end) -->
        </ul>
        <!-- end:Clients section -->
    </div>*@
